* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.converter {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: black;
}

label {
  font-size: 14px;
}

input, select, button {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
}

button {
  cursor: pointer;
  background-color: #222;
  color: white;
  border: none;
}

button:hover {
  background-color: #444;
}